@use '../../../partials/variables' as * ;


header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  background: $white;
  padding-right: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.dark{
    background-color: $charade;
    color: $white;
  }

  .header-grp-1{
    display: flex;
    align-items: center;
    gap: 2rem;

    #base-h3{
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  #mobile{
    display: none;
  }




  .header-action{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 1.5rem;

  }
}

@media (max-width: 425px){
  header{
    height: 4rem;
    .header-grp-1{
      gap: 1rem !important;

      #base-h3{
        display: none;
      }

      #mobile{
        font-size: 1.125rem;
        font-weight: 700;
        display: block;
        display: flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
      }

    }
  }

}

