<header [ngClass]="{'dark': theme}">
  <div class="header-grp-1">
    <app-logo/>
    <h3 id="base-h3">
      @if (board$ | async; as board) {
        {{ board.name }}
      }  @else{ Select a board }
    </h3>
    <div id="mobile" (click)="toggleNav()">
      @if (board$ | async; as board) {
        {{ board.name }}
      } @else{ Select a board }
      @if ((mobileNavActive$ | async) === true) {
        <img src="../../../assets/images/icon-chevron-up.svg" alt="">
      } @else {
        <img src="../../../assets/images/icon-chevron-down.svg" alt="">
      }
    </div>
  </div>
  <div class="header-action">
    <app-add-task/>
    <app-header-settings/>
  </div>
</header>

<app-mobile-nav/>
