@use '../../../partials/variables' as * ;


header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  background: $white;
  padding-right: 2rem;

  .header-grp-1{
    display: flex;
    align-items: center;
    gap: 2rem;

    h3{

      font-size: 1.5rem;
      font-weight: 700;

      img{
        display: none;
      }
    }

  }




  .header-action{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 1.5rem;

  }
}

@media (max-width: 768px){
  header{
    height: 4rem;
    .header-grp-1{
      gap: 1rem !important;

      h3{
        display: flex;
        align-items: center !important;
        gap: .75rem;

        img{
          display: block;
        }
      }
    }
  }

}

