<section class="sidebar-settings">
  <div>
    <div class="theme">
      <img src="../../../assets/assets/icon-light-theme.svg" alt="light-icon">
      <div class="toggle-div" (click)="toggleTheme()">
        <div class="toggle" [class.active]="isDarkMode"></div>
      </div>
      <img src="../../../assets/assets/icon-dark-theme.svg" alt="dark-icon">
    </div>
    <div class="hide-toggle" title="hide sidebar" (click)="toggleSidenav()">
      <img src="../../../assets/assets/icon-hide-sidebar.svg" alt="hide-icon">
      <p>Hide Sidebar</p>
    </div>
  </div>
</section>
