@use '../../../partials/variables' as * ;
@use '../../../partials/mixins' as * ;


  section{
    @include flex-center;
    width: 100%;
    z-index: 2;
    background-color: #00000045;
    backdrop-filter: blur(0.075rem);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }



  .createboard-modal{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: start;
    border-radius: .375rem;
    padding-inline: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem !important;

    width: 30rem;
    height: 27.8125rem;
    background-color: $white;
    position: absolute;
    left: 40%;
    right: 10%;
    top: 20%;
    z-index: 3;


    .board-form{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem !important;
      div{
        display: flex;
        flex-direction: column;
        gap:.5rem;

        label{
          color: $regent-gray;
          font-size: .75rem;
          font-weight: 700;
        }
      }
      #columns-grp{
        display: flex;
        overflow-y: scroll;
          max-height: 7rem;
          padding-right: .5rem;
          display: flex;
          flex-direction: column;
          gap: .75rem;

          &::-webkit-scrollbar {
            width: 12px;
          }
          &::-webkit-scrollbar-thumb {
            background: #828FA340;
            border-radius: 10px;
            background-clip: content-box;
          }
        .column-item{
          @include flex-center;
          flex-direction: row;
          img{
            @include close-icon-style
          }

          input{
            width: 24.0625rem;
          }
        }
      }

      #column-btn{
        @include button-style($background-color: #635FC720,$height:2.5rem );
        border-style: none;
        color: $main-purple;
      }

      @include input-style-mixin($font, $blackrussian);

      button{
        font-family: $font !important;
        width: 100% !important;
        @include button-style($background-color:$main-purple ,$height:2.5rem );
        border-style: none;
        color: $white;
        font-size: .8125rem !important;
        @include flex-center;
      }
    }
  }

  h4{
    align-self: start;
    font-size: 1.125rem;
    font-weight: 700;
  }

  #delete-modal{
    font-family: $font !important;
    height: 14.3125rem;
    background-color: $white;
    width: 30rem;
    position: absolute;
    left: 40%;
    right: 10%;
    top: 20%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
    justify-content: start;
    padding-inline: 2rem;
    padding-top: 2rem;

    border-radius: .375rem;

    h4{
      color: $mendy;
    }

    p{
      color: $regent-gray;
      font-size: .8125rem;
      font-weight: 500;
    }

    .btn-grp{
      display: flex;
      gap: 1rem;

      button{
        height: 2.5rem;
        width: 12.5rem;
        border-radius: 1.25rem;
        border-style: none;
        font-size: .8125rem;
        font-weight: 700;
        font-family: $font !important;
        cursor: pointer;

        &.delete-btn{
          background-color: $mendy;
          color: $white;
        }


        &.cancel-btn{
          background-color: #635FC71A;
          color: $main-purple;
        }
      }
    }
  }


  @media (max-width: 425px){
    .createboard-modal{
      width: 21.4375rem;
      left: 5% !important;
      right: 10%;
      top: 20%;
    }

    #delete-modal{
      width: 21.4375rem;
      height: 17.75rem;
      left: 5% !important;

      .btn-grp{
        display: flex;
        flex-direction: column;

        button{
          width: 18.4375rem;
        }
      }
    }
  }
