@use './variables' as *;

@mixin box-shadow($color: $chambray, $x: 0, $y: 4px, $blur: 6px, $spread: 0) {
  box-shadow: $x $y $blur $spread $color;
}

@mixin card-style {
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include box-shadow;
}

@mixin input-style-mixin($font, $blackrussian, $background-color: $white) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: $font;
  background-color: $background-color;

  input {
    height: 2.5rem;
    padding-left: 1rem;
    padding-block: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #828FA340;
    color: $blackrussian;
    font-size: 500;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #828FA340;
    }
  }
}


@mixin button-style(
  $width: auto ,
  $height: auto,
  $padding-inline: 1.5313rem,
  $padding-block: 0.9063rem,
  $border-radius: 1.5rem,
  $background-color: $main-purple,
  $hover-background-color: $melrose,
  $font-color: $white
) {
  width: $width;
  height: $height;
  padding-inline: $padding-inline;
  padding-block: $padding-block;
  background: $background-color;
  font-size: 0.9375rem;
  font-weight: 600;
  color: $font-color;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: $hover-background-color;
  }
}


@mixin close-icon-style(
  $width: .7281rem,
  $height: .76281rem,
  $cursor: pointer
) {
  width: $width;
  height: $height;
  cursor: $cursor;
}


@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
