@use './variables' as *;

@mixin box-shadow($color: $chambray, $x: 0, $y: 4px, $blur: 6px, $spread: 0) {
  box-shadow: $x $y $blur $spread $color;
}

@mixin card-style {
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include box-shadow;
}
