$selago: #F4F7FD;
$blackrussian: #000112;
$header-size: 1.125rem;
$btn-default: rgba(98, 95, 199, 0.1);
$white: #fff;
$main-purple: #635FC7;
$regent-gray: #828FA3;
$melrose: #A8A4FF;
$monalisa: #FF9898;
$mendy: #EA5555;
$charade: #2B2C37;
$gunpowder: #3E3F4E;
$linkwater: #E4EBFA;
$charadedp: #20212C;
$pictionblue: #49C4E5;
$cornflowerblue: #8471F2;
$aquamarineblue: #67E2AE;
$chambray: #364E7E;
