@use '../../../partials/variables' as * ;
@use '../../../partials/mixins.scss' as * ;

:host {
  display: flex;
  flex: 1;
}

mat-drawer-container {
  flex: 1;
  width: 100%;
}

aside {
  background-color: $white;
  height: 100%;
  width: 18.675rem;
  border-style: none;
  display: flex;
  flex-direction: column;
  color: $regent-gray;
  padding-top: .875rem;
  transition: background-color 0.3s ease;

  &.dark{
    background-color: $charade;
  }



}

mat-drawer {
  border-right: 1px solid $linkwater;

  &.dark{
    border-color: $gunpowder;
  }
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
