@use './partials/variables' as *;
@use './partials/_mixins.scss' as *;
/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

*{
  // width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: $selago;
  font-family: $font,system-ui;
}
