<div class="columns">
  @if(selectedBoard$ | async; as board ){
    @if(board.columns.length){
      <div class="columns-row">
        @for (column of board.columns; track column.name; let columnIndex = $index) {
          <ul
            cdkDropList
            [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event, board)"
            [id]="column.name"
            [cdkDropListConnectedTo]="getConnectedLists(board)"
            class="column-list"
          >
            <div class="column-header">
              <div class="column-icon" [ngStyle]="{'background-color': getColumnColors(column.name)}"></div>
              <h5>{{ column.name }} ({{ column.tasks.length }})</h5>
            </div>
            <ul class="tasks" >
              @for (task of column.tasks; track task.title; let taskIndex = $index) {
                <li
                 [ngClass]="{'dark': theme}"
                  cdkDrag
                  [cdkDragData]="task"
                  class="task-item"
                >
                  <div class="task-content">
                    <h4>{{ task.title }}</h4>
                    <p>{{ task.subtasks.length }} Subtasks</p>
                  </div>
                  <div *cdkDragPlaceholder class="task-placeholder"></div>
                </li>
              }
            </ul>
          </ul>
        }
        <div class="add-columns" [ngClass]="{'dark': theme}">
          <p>+ New Column</p>
        </div>
      </div>
    } @else {
      <div id="no-column-viz">
        <p>This board is empty. Create a new column to get started.</p>
        <button id="add-col"  >
          + <span>Add New Column</span>
        </button>
      </div>
    }
  }
</div>
